<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main5Activity" />
        <activity
            android:name=".Navi"
            android:label="@string/title_activity_navi"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".Main7Activity" />
        <activity android:name=".PieChartDisplay"/>
        <activity android:name=".AvailableActivity"/>

        <provider
            android:authorities="com.example.admin.myapplication"
            android:name=".DatabaseManagerProvider"
            android:exported="false"/>


    </application>

</manifest>